@import url('https://fonts.googleapis.com/css?family=Lobster|Questrial');

body{
	font-family: 'Questrial', sans-serif;
	font-size: 36px;
	text-align: center;
	background-color: white;
	color: white;
}
h1, header, h2 {
	font-family: 'Lobster', cursive;
	text-transform: lowercase;
	font-size: 80px;
	text-align: center;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
.wrapper { 
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h3, nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: pink;
	color: black;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
#slogan {
	font-family: 'Questrial', sans-serif;
	font-size: 48px;
	text-align: center;
}
.description {
	font-family: 'Questrial', sans-serif;
	font-size: 36px;
	color: white;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
.list {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: black;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 50%;
}
#right {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 50%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}






