@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300');

body, p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 36px;
	text-align: center;
	background-color: black;
	color: white;
}
h1 {
	font-family: 'Lobster', cursive;
	text-transform: lowercase;
	font-size: 80px;
	text-align: center;
}
#slogan {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	text-align: center;
}
img {
	height: 800px;
	width: 1100px;
	display: block;
	margin: auto;
}